@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
body {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: clamp(20rem, 24vw, 25rem);
  height: 20%;
  background: url(./images/pattern-curve.svg) no-repeat bottom left/ 100%;
  z-index: -1;
}
.container {
  width: 30rem;
  margin: 0 auto;
  height: 60rem;
  position: relative;
  overflow: hidden;
}
.container::before,
.container::after {
  content: "";
  left: 0;
  position: absolute;
  height: 50%;
  z-index: -1;
}
.container::before {
  top: 0;
  left: 0;
  background: url(./images/pattern-bg.svg) no-repeat center center / contain;
  width: 30rem;
}
.container::after {
  bottom: -4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: url(./images/pattern-quotes.svg) no-repeat center center / contain;
  width: clamp(6rem, 7vw, 8rem);
}
.arrow-buttons {
  position: absolute;
  top: 27rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--white);
  box-shadow: 5px 0 25px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
}
.previous-btn {
  padding-right: 1.25rem;
}
.next-btn {
  padding-left: 1.25rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}
.flex {
  display: flex;
  align-items: center;
}
p {
  font-size: clamp(1.8rem, 2.3vw, 3rem);
  font-weight: 300;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  color: var(--Dark-Blue);
}
.name-position {
  font-size: clamp(1.6rem,1.7vw,1.8rem);
  margin: 0;
}
.section {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column-reverse;
  gap: 4rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: transform 600ms;
}
.section article {
  flex: 1;
}
.info {
  position: relative;
  z-index: 100;
}
article img {
  transform: scale(0.78) translateY(5px);
  border-radius: 1rem;
}

.name {
  display: block;
  color: var(--Dark-Blue);
  font-weight: 700;
}
.position {
  color: var(--Grayish-Blue);
  font-weight: 500;
}

@media (min-width: 768px) {
  .container {
    width: 75rem;
    height: 50rem;
  }
  .section {
    flex-direction: row;
    text-align: left;
  }
  article img {
    transform: scale(1.1) translateX(-7.5rem);
  }
  .container::before {
    top: 50%;
    left: 70%;
    transform: translate(-60%, -53%) scale(1.89);
  }
  .container::after {
    top: 27.5%;
    left: 11%;
  }
  .arrow-buttons {
    left:38rem;
    top: 44.5rem;
  }
  body::after {
    width: 40%;
  }

}
@media (min-width: 1024px) {
  .container {
    width: 120rem;
    height:70rem;
  }
  article img {
    transform: scale(1) translateX(-6rem);
  }

  .container::before {
    top: 50%;
    left: 70%;
    transform: translate(-55%, -53%) scale(2.3);
  }
  .container::after {
    top: 28%;
    left: 11%;
  }
  .section{
    gap: 0;
  }
  .arrow-buttons {
    left:67rem;
    top: 62rem;
  }
  body::after {
    width: 40%;
    height: 30%;
  }

  .name {
    display: inline-block;
  }
}
